* {
    padding: 0;
    margin: 0;
}

/* Jumbotron */

.primary_game_content.jumbotron {
    min-height: 100vh;
    background: url(images/cod2.jpg);
    /* background: red; */
    border-radius: unset !important;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.582);
    background-blend-mode: color;
    background-attachment: fixed;
}

.game_content {
    min-height: 90vh;
}

.game_content .display-3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Slider Content */

.games_slider .carousel-inner {
    height: 400px;
}

.carousel-inner img {
    height: 100%;
    width: 100%;
}