/* Navbar */

header a {
    color: white;
}

header {
    background: rgba(0, 0, 0, 0.705);
    margin: 10px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}

/* Upper menu Start */

.primary-navbar {
    text-align: right;
}

.header_social {
    border-right: 1px solid #1e13b4;
    padding-right: 15px;
    vertical-align: middle;
}

.header_social a, .access a {
    text-decoration: none;
    color: #3486cc;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.access a {
    color: white !important;
    font-size: 15px;
}

/* Upper menu End */

.header_outer_area {
    background: rgba(0, 0, 0, 0.4);
    /* background: red; */
    padding-bottom: .4px;
    clip-path: polygon(0 0, 100% 0, 94.5% 100%, 5.5% 100%);
}

.header_img_area {
    position: relative;
}

.header_img_area .bg-pos::before {
    content: '';
    background-image: url(images/menu_bar_left.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 55%;
    height: 58px;
    position: absolute;
    left: 0%;
    bottom: -38px;
    z-index: -1;
}

.bg-pos::after {
    content: '';
    background-image: url(images/menu_bar_right.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 55%;
    height: 62px;
    position: absolute;
    right: 0%;
    z-index: -1;
    bottom: -38px;
}

header .first {
    margin-left: 30%;
}