* {
    padding: 0px;
    margin: 0;
}

/* Button's Start */

/* btn Hover and after */

.btn_red, .btn_red:link, .btn_red:visited {
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0px 20px 8px 20px;
    background: #fe0000;
    border-radius: 100px;
    font-size: 32px;
    border: none;
    cursor: pointer;
    color: white;
}

.btn_red:hover {
    transform: translateY(-2px);
    box-shadow: 0px 8px 20px #000;
}

.btn_red:active, .btn_red:focus {
    outline: none;
    transform: translateY(1px);
    box-shadow: 0px 8px 10px #000;
}

.btn_red::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    z-index: -1;
    background: #fe0000;
    transition: all 0.5s;
}

.btn_red:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn_red img {
    vertical-align: sub !important;
}

/* Button's End */

/* Navbar */

header a {
    color: white;
}

header {
    background: rgba(0, 0, 0, 0.705);
    margin: 10px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}

/* Upper menu Start */

.primary-navbar {
    text-align: right;
}

.header_social {
    border-right: 1px solid #1e13b4;
    padding-right: 15px;
    vertical-align: middle;
}

.header_social a, .access a {
    text-decoration: none;
    color: #3486cc;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

.access a {
    color: white !important;
    font-size: 15px;
}

/* Upper menu End */

.header_outer_area {
    background: rgba(0, 0, 0, 0.4);
    /* background: red; */
    padding-bottom: .4px;
    clip-path: polygon(0 0, 100% 0, 94.5% 100%, 5.5% 100%);
}

.header_img_area {
    position: relative;
}

.header_img_area .bg-pos::before {
    content: '';
    background-image: url(images/menu_bar_left.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 55%;
    height: 58px;
    position: absolute;
    left: 0%;
    bottom: -38px;
    z-index: -1;
}

.bg-pos::after {
    content: '';
    background-image: url(images/menu_bar_right.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 55%;
    height: 62px;
    position: absolute;
    right: 0%;
    z-index: -1;
    bottom: -38px;
}

header .first {
    margin-left: 30%;
}

/* Section-Second */

.second-section {
    background: url(images/sec-2-back-img.png);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    text-align: center;
}

.second-section h4 {
    color: blue;
}

.second-section hr {
    width: 25%;
    background: black;
    margin: auto;
}

/* Home Page Media Queries */

@media (max-width: 991px) {
    header {
        text-align: center;
        margin: unset;
        clip-path: unset;
        width: 100% !important;
        position: relative !important;
        background: none;
    }
    header .first {
        margin: unset;
    }
    .header_outer_area {
        background: none;
        padding-bottom: unset;
        clip-path: unset;
        width: 100%;
    }
    .navbar-brand {
        margin: auto;
    }
    .bg-pos::after, .bg-pos::before {
        display: none;
    }
    /* Navbar Slide from left Style Code */
    .navbar {
        width: 100%;
    }
    .navbar-collapse {
        position: absolute;
        right: 100%;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
        transition: all .3s ease;
        display: block;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
    }
    .navbar-collapse ul {
        height: auto;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.show {
        right: 0%;
    }
}